// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

body {
    direction: ltr;
    background: $white;
}

button {
	font-family: $base-font-stack;
}