.container {
    .header_container {
        background-color: $grey1;

        .header {
            font-size: 32px;
            font-weight: 200;
            color: $doveblue1;
            text-align: center;
            padding-bottom: 20px;
        }
    }

    .photo_edit_info {
        @include bottom-curve(0.4);

        background-color: $grey1;
        padding-bottom: 100px;
        padding-top: 30px;

        :global .ProfilePhoto_container {
            text-align: center;
        }

        .info_container {
            &.nopadding{
                padding-left: 0;
                padding-right: 0;
            }

            .info_block {
                padding-bottom: 5px;

                .info_label {
                    text-align: right;
                    display: inline-block;
                    padding-right: 30px;
                    padding-left: 0;
                    color: $dovebluealpha2;
                    font-size: 16px;
                    font-weight: 200;
                }

                .info_value {
                    display: inline-block;
                    color: $dovebluealpha3;
                    font-size: 16px;
                    font-weight: 600;
                    padding-left: 0;
                    padding-right: 0;

                    a {
                        color: $dovebluealpha2;
                        font-weight: 200;
                        text-decoration: underline;
                        font-size: 14px;
                    }
                }
            }

            .additional_info {
                padding-top: 20px;
            }
        }
    }

    .photo_video_content {
        padding-bottom: 40px;

        .video_content {
            .header {
                text-align: center;
                padding-bottom: 20px;

                h1 {
                    color: $doveblue1;
                    margin: 0;
                }
            }

            .video {
                iframe {
                    display: block;
                }
            }
        }
    }

    .topcurve {
        @include top-curve;

        background-color: $white;
        min-height: 50px;
        padding-top: 0;
        padding-bottom: 0;

        &:before {
            opacity: 1;
            transform: translateY(15px) rotate(180deg);
            background-color: $doveblue1;
            top: 0;
        }

        &:after {
            background-color: $doveblue1;
            top: 25px;
        }
    }

    .portfolio_recent_projects {
        @include bottom-curve(0.9);

        padding-top: 40px;
        padding-bottom: 150px;
        background-color: $doveblue1;

        &:before {
            transform: translateY(-14px) rotate(179deg);
        }
    }

    .projects {
        display: block;
    }

    .empty {
        text-align: center;

        h1 {
            color: $doveblue1;
            padding-top: 40px;
        }
    }
}