.container {
    .header {
        text-align: center;

        h1 {
            color: $doveblue1;
            margin: 0;
        }
    }

    .submitting {
        text-align: center;
        padding-top: 20px;
    }

    .upload_area {
        padding-top: 20px;
        
        .path_input {
            display: inline-block;
            float: left;
            height: 32px;
            width: 100%;
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid $grey;
            background-color: white;
        }

        .upload_file {
            .upload_button {
                :global .ms-Button {
                    background-color: $doveblue1 !important;
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                    width: 100%;

                    span {
                        color: $white;
                    }

                    &:hover,
                    &:focus {
                        span {
                            color: $white !important;
                        }

                        background-color: $doveblue1 !important;
                    }
                }
            }

            .upload_input {
                position: absolute;
                top: 0;
                left: 0;
                padding: 0;
                opacity: 0;
                height: 31px;
                width: 100%;
                cursor: pointer;
            }
        }
    }

    .file_content {
        padding-top: 20px;

        .file_area {
            float: none;
            display: inline-block;

            .file {
                text-decoration: underline;
                display: inline-block;
                float: left;
                padding-right: 20px;

                a {
                    color: $linkblue;
                    font-size: 16px;
                }
            }

            .remove {
                display: inline-block;
                cursor: pointer;
                text-decoration: underline;
                font-size: 16px;
                color: $grey;

                i {
                    font-size: 7px;
                    color: $grey;
                    padding-right: 5px;
                    font-weight: 600;
                }
            }
        }
    }
}