.container {
    .header {
        text-align: center;
        padding-bottom: 20px;

        h1 {
            color: $doveblue1;
            margin: 0;
        }
    }

    .projects {
        .button {
            text-align: center;
            padding-bottom: 10px;

            :global .ms-Button {
                background-color: $doveblue1 !important;

                span {
                    font-size: 16px;
                    color: $white;
                }

                &:hover,
                &:focus {
                    span {
                        color: $white !important;
                    }
                }
            }

            &.link_button {
                :global .ms-Button {
                    background-color: $white !important;
                    border: 1px solid $doveblue1 !important;

                    span {
                        font-size: 16px;
                        color: $doveblue1;
                    }

                    &:hover,
                    &:focus {
                        span {
                            color: $doveblue1 !important;
                        }
                    }
                }
            }
        }
    }
}