:global .ms-Button {
    border-radius: 5px;
    cursor: pointer !important;
    background-color: $white !important;
    border: 1px solid $doveblue1 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;

    span {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.7;
        color: $doveblue1;
        font-family: "HelveticaNeueLTPro","Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
    }

    &:hover,
    &:focus {
        span {
            color: $doveblue2 !important;
        }

        background-color: $white !important;
        border: 1px solid $doveblue2 !important;
    }
}