.container {
    .info_label {
        display: inline-block;
        color: $dovebluealpha2;
        font-weight: 400;
        font-size: 16px;
        padding: 5px 8px 5px 8px;
        text-align: left;

        @include breakpoint(medium) {
            font-size: 15px;
            padding: 5px 0 0 0;
            text-align: right;
        }
    }

    .info_value {
        :global .ms-TextField-field {
            border-radius: 5px;
            border: 1px solid $grey !important;
            color: $black;
            padding: 5px 12px 2px 12px;
            font-family: "HelveticaNeueLTPro","Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
        }

        :global .ms-TextField-errorMessage {
            color: #a80000;
            background-color: $white;
        }

        .error {
            :global .ms-TextField-field {
                border: 1px solid red !important;
            }
        }

        .error_block {
            margin-bottom: 8px;
            color: red;
        }
    }
}