:global {
    .demo_root {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .public-DraftStyleDefault-block,
        .public-DraftStyleDefault-ol,
        .public-DraftStyleDefault-ul {
            margin: 0;
        }

        .demo_label {
            text-align: center;
            padding-bottom: 20px;

            h1 {
                color: $doveblue1;
                margin: 0;
            }
        }

        .demo_editorSection {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .demo_wrapper {
                width: 100%;
                display: block;
                min-height: 150px;

                .rdw-editor-main {
                    height: auto;
                }
            }

            .demo_editor {
                min-height: 150px;
                border: 1px solid $grey;
                padding: 5px;
                border-radius: 5px;
                width: auto;
            }

            .demo_toolbar {
                width: 100%;
                border: none;

                .rdw-option-wrapper {
                    border: none;
                    padding: 0;
                    margin: 0 2px 0 0;
                    min-width: 23px;

                    &:hover,
                    &:active {
                        box-shadow: inset 0px 0px 1px 1px #bfbdbd;
                    }

                    @include breakpoint(x-small) {
                        margin: 0 2px 0 0;
                        min-width: 26px;
                    }


                    @include breakpoint(small) {
                        margin: 0 5px 0 0;
                        min-width: 26px;
                    }


                    @include breakpoint(medium) {
                        padding: 5px;
                        min-width: 26px;
                    }
                }
            }
        }
    }
}