.container {
    .header_container {
        background-color: $grey1;

        .header {
            font-size: 32px;
            font-weight: 200;
            color: $doveblue1;
            text-align: center;
            padding-bottom: 20px;
        }
    }

    .photo {
        @include bottom-curve(0.4);

        background-color: $grey1;
        padding: 30px 0 100px 0;
    }

    .additional_info {
        padding-top: 40px;

        @include breakpoint(medium) {
            padding-top: 80px;
        }
    }

    .notes {
        padding-top: 80px;
    }

    .story {
        padding-top: 40px;
    }

    .photo_video {
        padding-top: 80px;
    }

    .portfolio {
        padding-top: 60px;

        @include breakpoint(medium) {
            padding-top: 80px;
        }
    }

    .save {
        padding-top: 100px;
        padding-bottom: 50px;
        text-align: center;

        .button {
            text-align: center;

            :global .ms-Button {
                background-color: $doveblue1 !important;
                width: 160px;

                .ms-Button-label {
                    font-size: 16px;
                    color: $white;
                }

                &:hover,
                &:focus {
                    .ms-Button-label {
                        color: $white !important;
                    }
                }
            }
        }

        .submitting_message {
            color: $dovebluealpha2;
            font-size: 16px;
        }
    }

    .empty {
        text-align: center;

        h1 {
            color: $doveblue1;
        }
    }
}