:global #s4-workspace {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

:global .ms-Icon--ChevronLeft {
    &:before {
        content: "\E76B";
    }
}

:global .ms-Icon--ChevronRight {
    &:before {
        content: '\E76C';
    }
}

:global .ms-Icon--ChevronDown {
    &:before {
        content: '\E70D';
    }
}