.container {
    text-align: center;

    .hidden {
        display: none;
    }

    .tile_area {
        margin: 0 auto;
        width: auto;
        float: none;
        display: inline-block;

        @include breakpoint(medium) {
            width: 25%;
            float: left;
        }


        @include breakpoint(large) {
            width: 20%;
            float: left;
        }


        .tile {
            overflow: hidden;
            position: relative;
            margin: 0 auto 0 auto;
            cursor: pointer;

            img {
                width: 100%;
            }

            .slideUpIn80 {
                animation-name: fadeIn, slideUpIn80;
                -webkit-animation-duration: 0.367s;
                -moz-animation-duration: 0.367s;
                -ms-animation-duration: 0.367s;
                -o-animation-duration: 0.367s;
                animation-timing-function: cubic-bezier(0, 0, 0.25, 1);
                animation-fill-mode: both;
            }

            @keyframes slideUpIn80 {
                from {
                    transform: translate3d(0px, 80px, 0px);
                }

                to {
                    transform: translate3d(0px, 3px, 0px);
                }
            }

            @keyframes fadeIn {
                from {
                    opacity: 0;
                    animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
                }

                to {
                    opacity: 1;
                }
            }

            .name_container {
                width: 100%;
                position: absolute;
                bottom: 3px;
                background: $dovebluealpha1;
                height: 60px;
                text-align: left;
                display: flex;
                align-items: center;
                justify-content: center;

                @include breakpoint(large) {
                    height: 70px;
                }


                @include breakpoint(x-large) {
                    height: 80px;
                }


                .name {
                    font-size: 18px;
                    color: $white;
                    padding: 15px;

                    @include breakpoint(large) {
                        padding: 20px 15px;
                    }


                    @include breakpoint(x-large) {
                        padding: 25px 15px;
                    }
                }
            }

            .option {
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 3px;
                display: block;
                background: $dovebluealpha1;
                opacity: 0;

                .remove {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    cursor: pointer;

                    i {
                        font-size: 24px;
                        color: $white;
                        font-weight: 600;
                    }
                }

                .overlay {
                    width: 90%;
                    margin: 0 auto;
                    text-align: center;
                    display: flex;
                    vertical-align: middle;

                    @include center(xy);

                    .submitting {
                        width: 90px;
                        height: 40px;
                    }

                    a {
                        flex: 1 0 0%;
                    }

                    i {
                        color: $white;
                        padding: 0 15px 0 15px;
                        font-size: 40px;
                        flex: 1 0 0%;

                        &.shortlisted {
                            max-width: 55px;
                        }

                        &.selected {
                            max-width: 55px;
                        }

                        @include breakpoint(medium) {
                            font-size: 30px;
                            padding: 0 10px 0 10px;
                        }


                        @include breakpoint(large) {
                            font-size: 40px;
                            padding: 0 15px 0 15px;
                        }


                        p {
                            color: $white;
                            background-color: transparent;
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}