.container {
    .header {
        display: block;
        font-size: 20px;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        color: #333333;
    }

    .content {
        :global .ms-Grid {
            padding: 0 8px 0 8px;
        }

        .column {
            border: 0;
            line-height: 24px;
            padding: 12px;
            vertical-align: middle;
            font-size: 13px;
            -webkit-font-smoothing: antialiased;
        }

        .header_row {
            background-color: #FAFAFA;

            .header_column {
                color: #757575;
                font-weight: 500;
            }
        }

        .content_row {
            padding: 10px 6px 45px 6px;

            .upload_message {}

            :global .ms-Pivot {
                padding: 20px;
                margin: 0 -6px 0 -6px;
                background-color: #f4f4f4;

                .ms-Pivot-link {
                    &.is-selected {
                        font-weight: 500;
                    }
                }
            }

            :global .pivotItem {
                padding-top: 10px;
            }
        }

        .dropzone_container {
            .dropzone {
                height: 100px;
                width: 100%;
                margin-bottom: 12px;
                border-width: 2px;
                border-color: #0078d7;
                border-style: dashed;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;

                .dropzone_title {
                    color: #757575;
                    font-weight: 500;
                }
            }

            .buttons_container {
                text-align: center;

                .xml_button {
                    margin-left: 30px;
                }
            }

            .dropzone_files {
                padding-top: 50px;
                padding-bottom: 5px;

                .dropzone_files_list {
                    padding-right: 5px;
                    text-align: center;
                    font-size: 18px;
                }

                .loading {
                    text-align: center;

                    :global .ms-Spinner {
                        .ms-Spinner-label {
                            margin-top: 0;
                        }
                    }
                }
            }
        }

        .button,
        .link_button {
            height: 20px;
            min-width: 80px;
            padding: 5px 20px 8px 20px;
            background-color: #0078d7;
            color: white;
            cursor: pointer;
            margin-left: auto;
            margin-right: auto;
            display: inline-block;
            font-weight: normal;
            -webkit-font-smoothing: antialiased;
            line-height: 24px;

            &:hover {
                text-decoration: none;
            }
        }
    }
}