.container {
    .header {
        display: block;
        font-size: 20px;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        color: #333333;
    }

    .content {
        :global .ms-Grid {
            padding: 0 8px 0 8px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .column {
            border: 0;
            border-right: 1px solid #E5E5E5;
            border-top: 1px solid #E5E5E5;
            line-height: 24px;
            padding: 12px;
            vertical-align: middle;
            font-size: 13px;
            -webkit-font-smoothing: antialiased;

            &:first-child {
                border-left: 1px solid #E5E5E5;
            }
        }

        .button,
        .link_button {
            height: 20px;
            min-width: 80px;
            padding: 5px 20px 8px 20px;
            background-color: #0078d7;
            color: white;
            cursor: pointer;
            margin-left: auto;
            margin-right: auto;
            display: inline-block;
            font-weight: normal;
        }

        .link_button {
            &:hover {
                text-decoration: none;
            }
        }

        .header_row {
            background-color: #FAFAFA;

            .header_column {
                color: #757575;
                font-weight: 500;
            }
        }

        .dropzone_container {
            .dropzone {
                height: 100px;
                width: 100%;
                margin-bottom: 12px;
                border-width: 2px;
                border-color: #0078d7;
                border-style: dashed;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;

                .dropzone_title {
                    color: #757575;
                    font-weight: 500;
                }
            }

            .buttons_container {
                text-align: center;

                .xml_button {
                    margin-left: 30px;
                }
            }

            .dropzone_files {
                padding-top: 20px;
                padding-bottom: 5px;

                .dropzone_files_list {
                    display: inline-block;
                    padding-right: 5px;
                }

                .excel_file_loading,
                .xml_file_loading {
                    display: inline-block;

                    :global .ms-Spinner {
                        .ms-Spinner-circle {
                            display: inline-block;
                            float: right;
                        }

                        .ms-Spinner-label {
                            display: inline-block;
                            margin-right: 10px;
                            margin-top: 0;
                        }
                    }
                }
            }
        }

        .item_row {
            background-color: white;
            display: flex;

            .item_column {
                color: #212121;
                font-weight: normal;
            }

            &:last-child {
                .item_column {
                    border-bottom: 1px solid #E5E5E5;
                }
            }
        }
    }
}