.container {
    .content {
        :global .ms-Grid {
            padding: 0 8px 0 8px;
        }

        .content_row {
            padding: 10px 6px 45px 6px;

            :global .ms-Pivot {
                padding: 20px;
                background-color: #f4f4f4;

                .ms-Pivot-link {
                    &.is-selected {
                        font-weight: 500;
                    }
                }
            }

            :global .pivotItem {
                padding-top: 10px;
            }
        }

        .dropzone {
            padding-bottom: 30px;

            .dropzone_container {
                height: 100px;
                width: 100%;
                margin-bottom: 12px;
                border-width: 2px;
                border-color: #0078d7;
                border-style: dashed;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;

                .dropzone_title {
                    color: #757575;
                    font-weight: 500;
                }
            }

            .dropzone_buttons {
                text-align: center;
            }

            .dropzone_files {
                padding: 50px 0 5px 0;

                .dropzone_files_list {
                    padding-right: 5px;
                    text-align: center;
                    font-size: 18px;
                }
            }
        }
    }
}