.container {
    .header {
        display: block;
        font-size: 20px;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        color: #333333;
    }

    .content {
        .row {
            .column {
                .carousel_container {
                    overflow: hidden;

                    .carousel_content {
                        .carousel_item_wrapper {
                            display: inline-block;
                            position: relative;

                            .carousel_item {
                                .item_row {
                                    margin: 0;
                                    position: relative;

                                    & > div {
                                        &:hover {
                                            z-index: 10;
                                        }
                                    }

                                    .item_column {
                                        position: absolute;
                                        background-color: #d2fcd9;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        font-size: 37px;
                                        border: 1px solid black;

                                        .weight {}
                                    }
                                }
                            }
                        }
                    }

                    .carousel_navigation {}
                }
            }
        }
    }
}