@mixin bottom-curve($opacity:0.9) {
    background-color: #F0F0F0;
    position: relative;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 20px;
    min-height: 200px;

    &:before {
        opacity: $opacity;
        transform: translateY(-25px) rotate(1.6deg);
    }

    &:before, &:after {
        background-color: #fff;
        height: 100px;
        content: "";
        position: absolute;
        bottom: -10%;
        left: -20%;
        width: 140%;
        border-radius: 100%;
    }
}

@mixin top-curve {
    background-color: #F0F0F0;
    position: relative;
    overflow: hidden;
    padding-top: 70px;
    padding-bottom: 20px;
    min-height: 200px;

    &:before {
        opacity: 0.4;
        transform: translateY(20px) rotate(-2deg);
    }

    &:before, &:after {
        background-color: #fff;
        height: 100px;
        content: "";
        position: absolute;
        top: -30%;
        left: -20%;
        width: 140%;
        border-radius: 100%;
    }
}