.modal {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(204, 204, 204);
    background-color: $grey1;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    min-height: 20rem;
    padding: 2rem;
    position: fixed;
    min-width: 20rem;
    width: 80%;
    max-width: 30rem;

    .modal_container {
        .header {
            font-size: 20px;
            font-weight: 200;
            color: $doveblue1;
            text-align: center;
            padding-bottom: 20px;
            font-family: "HelveticaNeueLTPro","Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
        }

        .content {
            padding-top: 20px;

            :global .FormDropDownField_info_label {
                text-align: center;
                display: block;
                padding-bottom: 10px;
                font-size: 16px;
                font-weight: 200;
                color: $doveblue1;
                font-family: "HelveticaNeueLTPro","Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
            }

            :global .FormDropDownField_info_value {
                width: 50%;
                margin: 0 auto;

                .ms-Dropdown-title {
                    padding-top: 0;
                }
            }
        }

        .add {
            .button {
                text-align: center;
                padding-top: 30px;

                :global .ms-Button {
                    background-color: $doveblue1 !important;
                    width: 148px;
                    line-height: 1.15;

                    .ms-Button-label {
                        font-size: 16px;
                        color: $white;
                    }

                    &:hover,
                    &:focus {
                        .ms-Button-label {
                            color: $white !important;
                        }
                    }
                }
            }
        }

        .nopermissionss {
            color: $dovebluealpha2;
            font-size: 16px;
            text-align: center;
            font-family: "HelveticaNeueLTPro","Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif;
        }
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;

        i {
            font-size: 24px;
            color: $dovebluealpha3;
            font-weight: 600;
        }

        &:hover {
            i {
                color: $linkblue;
            }
        }
    }
}

:global .ms-Dropdown-item {
    font-size: 14px !important;
}