.container {
    .header {
        display: block;
        font-size: 20px;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        color: #333333;
    }

    .content {
        :global .ms-Grid {
            padding: 0 8px 0 8px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .column {
            border: 0;
            border-right: 1px solid #E5E5E5;
            border-top: 1px solid #E5E5E5;
            line-height: 24px;
            padding: 12px;
            vertical-align: middle;
            font-size: 13px;
            -webkit-font-smoothing: antialiased;

            &:first-child {
                border-left: 1px solid #E5E5E5;
            }
        }

        .header_row {
            .header_column {
                text-align: center;
            }
        }

        .item_row {
            background-color: white;
            display: flex;

            .item_column {
                color: #212121;
                font-weight: normal;
                text-align: center;

                .gif_create_button {
                    height: 32px;
                    min-width: 80px;
                    padding: 6px 20px;
                    background-color: #0078d7;
                    border-color: #0078d7;
                    color: white;
                    cursor: pointer;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                }

                .webcam_not_supported {
                    
                }
            }

            &:last-child {
                .item_column {
                    border-bottom: 1px solid #E5E5E5;
                }
            }
        }
    }
}