.container {
    .header {
        display: block;
        font-size: 20px;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        color: #333333;
    }

    .content {
        :global .ms-Grid {
            padding: 0 10px 0 10px;
        }

        .column {
            border: 0;
            border-right: 1px solid #E5E5E5;
            border-top: 1px solid #E5E5E5;
            line-height: 24px;
            padding: 12px 12px 12px 24px;
            vertical-align: middle;
            font-size: 13px;
            -webkit-font-smoothing: antialiased;

            &:first-child {
                border-left: 1px solid #E5E5E5;
            }
        }

        .header_row {
            background-color: #FAFAFA;

            .header_column {
                color: #757575;
                font-weight: 500;
            }
        }

        .item_row {
            background-color: white;

            .item_column {
                color: #212121;
                font-weight: normal;
            }

            &:last-child {
                .item_column {
                    border-bottom: 1px solid #E5E5E5;
                }
            }
        }
    }
}