.container {
    display: block;

    .header {
        display: block;
        font-size: 20px;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        color: #333333;
    }

    .content {
        display: block;

        :global .ms-Grid {
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 0 10px 0 10px;
        }

        .header_row {
            margin: 0 -12px 0 -12px;

            .header_column {
                text-align: center;
                font-size: 18px;
                font-weight: 400;
                -webkit-font-smoothing: antialiased;
                color: white;
                background-color: #073888;
                border: 1px solid white;
            }
        }

        .item_row {
            .item_column {
                padding-top: 5px;
                padding-bottom: 5px;
                border-bottom: 1px solid #ccc;
            }
        }
    }
}